@use "./variables.scss" as *;

// put your custom CSS here!

/*green*/
.nota {
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    background-color: #efffcb;
    color: #8AC926;
    font-weight: bold;
}
.nota-box {
    border: 1px solid #8AC926;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    background-color: #f5ffe0;
}

/*red*/
.defn {
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    background-color: #ffd6d8;
    color: #FF595E;
    font-weight: bold;
}
.defn-box {
    border: 1px solid #FF595E;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    background-color: #ffe9ea;
}
.defn-box > :first-child {
    margin-top: 0;
}

/*blue*/
.teor {
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    background-color: #c7f3ff;
    color: #1982C4;
    font-weight: bold;
}
.teor-box {
    border: 1px solid #1982C4;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    background-color: #f0fbff;
}

/*yellow*/
.amarillo {
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    color: #FFCA3A;
    font-weight: bold;
}
/*purple*/
.duda {
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    background-color: #e8e2ff;
    color: #6A4C93;
    font-weight: bold;
}
.duda-box {
    border: 1px solid #6A4C93;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    background-color: #f2eeff;
}

/*orange*/
.ejem {
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    background-color: #ffe7d2;
    color: #FF924C;
    font-weight: bold;
}
.ejem-box {
    border: 1px solid #FF924C;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    background-color: #fff1e2;
}

.callout[data-callout="defn"] {
  --callout-color: 255, 89, 94;
}

.callout[data-callout="teo"] {
  --callout-color: 255, 165, 0;
}
